html{
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  };

  background-color: beige;
}

h1{
  font-family: 'The Girl Next Door', cursive;
}


