@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
  box-sizing: html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  };

  background-color: beige;
  font-family: Georgia, serif;
}

header img{
  float: left;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  padding-right: 15px;
  float: right;
}

.navigation ul{
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 30px;
  clear: both;
}

#ancientworldbanner h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
}

#ancientworldbanner p{
  text-align: center;
}

.sevenwonders h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: -30px;
  padding-left: 30px;
  text-align: center;
}

.sevenwonders ul{
  list-style: none;
}

.sevenwonders img{
  margin-top: 30px;
}

.sevenwonders{
  text-align: center;
  margin-right: 30px;
}

.buytickets h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
}

.buytickets ol{
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

#nowplaying h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
}

#nowplaying p{
  text-align: center;
}

.thisweek h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-align: center;
}

.thisweek ol{
  list-style: none;
}

.thisweek h3{
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  margin-bottom: -10px;
}

footer{
  font-family: verdana, sans-serif;
  text-align: left;
}

footer ul{
  font-size: .7rem;
  list-style: none;
  margin-left: -40px;
}

@media only screen and (min-width: 16em) {

  h1{
    font-size: 2.3rem;
  }

  #ancientworldbanner img{
    margin-left: 3.5em;
  }

  #ancientworldbanner h2{
    margin-left: 2.7em;
  }

  #nowplaying img{
  margin-left: 3.5em;
}

}

@media only screen and (min-width: 22em) {

  h1{
    font-size: 3rem;
  }

  header ul li{
    display: inline;
  }

  #ancientworldbanner img{
    width: 80%;
  }

  #ancientworldbanner h2{
    text-align: center;
    margin-right: 2em;
  }

  .sevenwonders ul img{
    width: 100%;
  }

  #nowplaying img{
    padding-left: 3em;
  }

}

@media only screen and (min-width: 29em) {

  h1{
    font-size: 3.7em;
  }

  #ancientworldbanner img{
    margin-left: 4.5em;
  }

  #ancientworldbanner h2{
    font-size: 2rem;
  }

  #ancientworldbanner p{
    font-size: 1.2rem;
    font-family: verdana, sans-serif;
    width: 60%;
    margin-left: 7.2em;
    margin-top: -1em;
  }

  .sevenwonders h2{}


}
